<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<style type="text/css">
	.apply_input_each_1{
		width: 166px;
    height: 120px;
    float: left;
    list-style: none;
    margin-left: 59px;
    padding-left: 1px;
    padding-top: 10px;
	}
	.apply_input_each_2{
		width: 5px;
    height: 120px;
    float: left;
    list-style: none;
    margin-left: 60px;
    padding-left: 0px;
    padding-top: 10px;
	}
	.image_id{
		width: 230px;
    height: 250px;
    padding-left: 10px;
    /*border: 3px solid red;*/
	}
	.image_id img{
		width:100%;height:100%;
	}
	/*背景音乐1*/
  *{ margin:0; padding:0; list-style:none;}
  #lanren #audio-btn{width: 34px;height: 34px; position: fixed;top: 93% ;left: 88%;background-size: 100% 100%;}
  #lanren .on{background: url('/images/music_on.png') no-repeat 0 0;-webkit-animation: rotating 1.2s linear infinite;animation: rotating 1.2s linear infinite;}
  #lanren .off{background: url('/images/music_off.png') no-repeat 0 0;}
  @-webkit-keyframes rotating {
    from{
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to{
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes rotating {
    from{
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to{
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
</style>
<div>
	<div>
	<table>
			<% if @person.present? %>
			<ul class="apply_input_each_1">
				<li><div class="image_id"><%= image_tag @person.pic_url.url(:small) %><div></li>
				<li style="float:left;margin-left: 14px;margin-top: 14px;">姓&nbsp;名:&nbsp;&nbsp;&nbsp;<%= @person.people_name %></li>
				<li style="float: right;margin-right: -60px;margin-top: 14px;">编&nbsp;号:&nbsp;&nbsp;&nbsp;<%= @person.id %></li>
				<li style="margin-left: 14px;margin-top: 45px;width: 210px;">时&nbsp;间:&nbsp;<%= @person.created_at.strftime("%Y-%m-%d %H:%M:%S") %></li>
				<li style="margin-left: 14px;margin-top: 15px;width: 200px;">
					<%= link_to("审核通过",{:action=>"index_manage_approve",:flag=>"true",:id=>@person.id},:class=>"btn btn-primary") %>
					<%= link_to("审核失败",{:action=>"index_manage_approve",:flag=>"false",:id=>@person.id},:class=>"btn btn-success") %>
				</li>
			</ul>
			<ul class="apply_input_each_2">
				<li>&nbsp;</li>
			</ul>
			<!-- 背景音乐2 -->
      <div id="lanren">
        <div id="audio-btn" class="on" onclick="lanren.changeClass(this,'media')">
          <audio loop="loop" src="/vote_images/wind137.mp3" id="media" preload="preload"></audio>
        </div>
      </div>
			<% end %>
	</table>
	</div>
</div>
<!-- <audio autoplay="autoplay" loop="loop" preload="auto" src="/vote_images/wind.mp3"></audio> -->
<script type="text/javascript">
	// 背景音乐2
  var lanren = {
    changeClass: function (target,id) {
      var className = $(target).attr('class');
      var ids = document.getElementById(id);
      (className == 'on') ? $(target).removeClass('on').addClass('off') : $(target).removeClass('off').addClass('on');
      (className == 'on') ? ids.pause() : ids.play();
    },
    play:function(){
      document.getElementById('media').play();
    }
  }
  lanren.play();
</script>